---
title: "About Ham Philippines"
layout: blank
permalink: "/about.html"
image: ""
comments: true
---
<h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
<div class="row">
    <div class="col-md-8">
        <div class="page-content">
            <h5 class="mb-3">The story...</h5>
            <p>Ham Radio Philippines was started wayback July 2016, but was rebranded a month later to Ham Philippines, in respect to Ham Radio Philippines Club, which this site is no way affilliated with.</p>
            <p>At first Ham Philippines was just a facebook page where i post commentary, share amateur radio references, from other people.</p>
            <p>And as years had passed by i have started to create some original content like that <a href="https://scontent.fmnl13-1.fna.fbcdn.net/v/t1.0-9/19554882_1615600055140786_4595459857453421541_n.jpg?_nc_cat=109&_nc_oc=AQmteeW-49606diEuNydf1PSsqyY8csQaAke547FFPLzvNUz-1CzzX6oH1kOdK0ZXTw&_nc_ht=scontent.fmnl13-1.fna&oh=f95930c019a8d8690c86c709976afc97&oe=5DA0122F" target="_blank">meme</a> that i created that went trending <em>(yes im the one who created that meme that was shared countless of times)</em>.</p>
            <h5 class="mb-3">The start of a new Brand</h5>
            <p>Ham Philippines from 2016 up to mid-2017 is still the same page when it was started, there was no big plans about.</p>
            <p>But i realize that most of the information about Amateur Radio are all over the place, if you are not patient you are mostly likely not be able to locate what you are looking for.</p>
            <p>So, I started writing my goals, created branding and marketing plans. I already have all the tools what i need is the will to start.</p>
            <p>It took until early of 2018 were i really started to implemented all of my plans. It started with the branding, the logo you are seeing right now, yes thats the branding i did.</p>
            <p>I also started working on the original content videos, blogs and reviews.</p>
            <h5 class="mb-3">The Logo</h5>
            <p>Ham Philippines logo has a hidden meaning in it, if you are a passionate Ham you would spot it, im not gonna spoil it i'll let you figure it out.</p>
            <h5 class="mb-3">Future...</h5>
            <p>Ham is progressive so there were always be a future ahead. Just follow us on all our social media accounts for more updates.</p>
            {% if page.comments == true %}
                {% include comments.html %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <img class="card-img-top mb-5 shadow-lg" src="/assets/images/branding.png" alt="{{ page.title }}">
    </div>
</div>  

