# Site
name: 'Ham Philippines'
description: 'Your ham radio radio resource in the Philippines'
logo: '/assets/images/logo.png'
# baseurl: 'https://www.hamradioph.com' # Production
baseurl: 'https://staging.hamradioph.com' # staging
#baseurl: '' # localhost
email: 'hello@hamradioph.com'
mailchimp-list: 'https://gmail.us3.list-manage.com/subscribe/post?u=d82df82a7f4aab50de85b52ec&amp;id=606977dfd1'
cdn_url: 'https://cdn.statically.io/gh/HamRadioPH/cdn/master'

permalink: /:categories/:title:output_ext

plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag

collections:
  authors:
    output: true
    people: true
  references:
    output: true

# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: juan
      avatar: /assets/images/logo.png
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10



# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules,Gemfile,Gemfile.lock]