.carousel{
    .carousel-item{
        height:500px;
        overflow:hidden;
        
        img {
            width: 100%;
        }

        .carousel-caption{
            background-color: rgba(51,51,51,0.68);
            padding: 2rem;
            h5{
                font-weight:900;
                font-size: 2rem;
            }
            .read-more{
                text-transform: uppercase;
                font-weight: bold;
            }

        }
    }
}



.featured-posts{
    .section-header{
        h2{
            display: inline-block;
            font-weight: 700;
            font-size:1.4rem;
            border-bottom: 1px solid rgba(0,0,0,.44);
        }
        .more-from-category{
            color: #999;
            text-decoration: none;
        }
        .more-from-category:hover{
            color:#007bff;
        }
    }
}

.post.card{
    a{
        color: #111111;
        text-decoration: none;
        @include transition(.2s, ease);
    }
    a:hover{
        color: rgba(0,0,0,.5);
    }
    .post-image{
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        height: 240px;
        display: block;
    }
    .post-title{
        font-family: $font-sans;       
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.25;

    }
    .post-content{
        color: #888;
        font-size: .9rem;
        line-height: 1.5;
        font-weight: 400;
    }
    .author-image{
        height:40px;
        width:40px;
    }
    .post-date,
    .author-name{
        font-size:13px;
        color: #111111;
    }
    .card-body{
        height: 197px;
        overflow: hidden;
    }
}

.post.card.mode2{
    .card-body{
        height:81px;
    }
}