---
layout: default
title: Welcome
permalink: /
section: home
---
<div id="home-carousel" class="carousel slide mb-4" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for counter in (1.. site.categories.size) %}
            <li data-target="#home-carousel" data-slide-to="{{ counter }}"{% if counter == 1 %} class="active"{% endif %}></li>            
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% assign %i = 1 %}
        {% for category in site.categories %}
            {% assign post = category[1] | first %}
            <div class="carousel-item{% if i == 1 %} active{% endif %}">
                {% if post.cover %}
                    {% assign image = post.cover %}
                {% else %}
                    {% assign image = post.thumbnail %}
                {% endif %}
                <img src="{{ image }}" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.description }}</p>
                    <div class="align-center"><a href="{{ post.url }}" class="read-more btn btn-success">Read More</a></div>
                </div>
            </div>
            {% assign i = i | plus: 1 %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% for category in site.categories %}
<section class="featured-posts mb-4">
    <div class="section-header border-bottom clearfix mb-4">
        <h2 class="section-title pb-2 mb-0">{{ category[0] }}</h2>
        <a href="{{ site.url }}/{{ category[0] | slugify }}" class="more-from-category d-block float-right">More <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="section-lists row">
        {% assign posts = category[1] | shift %}
        <div class="col-md-4">
            {% assign post = posts | first %}
            {% assign mode = 1 %}
            {% include widgets/card.html %}
        </div>
        <div class="col-md-8">
            <div class="row">
                {% for post in category[1] offset: 2 limit: 8 %}
                <div class="col-md-6">
                        {% assign mode = 2 %}
                    {% include widgets/card.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endfor %}