---
layout: main
---
<article class="article-page w-100  mb-3">
    <div class="page-content">
        {% if page.img %}
            <div class="page-cover-image">
                <figure>
                    <img class="page-image" src="{{ page.img }}" alt="{{page.title}}">
                    {% if page.fig-caption %}
                        <figcaption>{{page.fig-caption}}</figcaption>
                    {% endif %}
                </figure>
            </div>
        {% endif %}
        <div class="wrap-content">
            <header class="header-page">
                <h1 class="page-title">{{page.title}}</h1>
            </header>
            <div class="border-top border-bottom">
                {% include breadcrumbs.html %}
            </div>
            {% assign content = content | strip_newlines %}
            {% if content !='' %}
            <div class="mt-4">
                {{ content | markdownify }}
            </div>
            {% endif %}
        </div>
    </div>
</article>
<div class="archive-posts" style="width:100%;">
    {% if page.current_category %}
        {% for category in site.categories %}
            {% if page.current_category == category[0] %}
                {% for post in category[1] %}
                    {% include post-list.html post=post %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for post in paginator.posts %}
            {% include post-list.html post=post %}
        {% endfor %}
        {% if paginator.posts %}
            {% include pagination.html %}
        {% else %}
            <div class="notice-alert">No <strong>{{ page.title }}</strong> posts found!</div>
        {% endif %}
    {% endif %}
</div>