---
layout: main
---
<section class="archive-page container">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="p-3 bg-white shadow-sm rounded">
                {% assign author = page %}
                {% include author.html author=author %}
            </div>              
        </div>
    </div>
    {% assign author_posts = site.posts | where: 'author', page.short_name %}
    {% for post in author_posts %}
        {% include post-list.html post=post %}
    {% endfor %}
</section>
    
