---
layout: default
---
<aside class="sidebar">
   <header>
       <div class="p-2 menu-button d-block d-md-none d-lg-none d-xl-none">
           <button type="button" class="btn btn-sm fa fa-bars" data-toggle="modal" data-target="#mobile-menu"></button>
       </div>
        <div class="modal fade" id="mobile-menu" tabindex="-1" role="dialog" aria-labelledby="mobile-menuLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <ul class="menu text-center">
                            <li><a href="/about">About</a></li>                            
                            <li><a href="/news">News & Updates</a></li>
                            <li><a href="/reviews">Reviews</a></li>
                            <li><a href="/blogs">Blogs</a></li>
                            <li><a href="/events">Events</a></li>
                            <!--li><a href="/references">References</a></li-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="about">        
            <div class="cover-author-image">
                <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
            </div>
            <ul class="menu d-none d-md-block d-lg-block d-xl-block">
                <li><a href="/about" class="{% if page.name == 'about.md' %} active {% endif %}">About</a></li>
                <li><a href="/news" class="{% if page.name == 'news.md' %} active {% endif %}">News & Updates</a></li>
                <li><a href="/reviews" class="{% if page.name == 'reviews.md' %} active {% endif %}">Reviews</a></li>
                <li><a href="/blogs" class="{% if page.name == 'blogs.md' %} active {% endif %}">Blogs</a></li>
                <li><a href="/events" class="{% if page.name == 'events.md' %} active {% endif %}">Events</a></li>
                <!--li><a href="/references" class="{% if page.name == 'references.html' %} active {% endif %}">References</a></li-->
            </ul>
        </div>
    </header>
    <footer>
        <section class="contact">
            <h3 class="contact-title">Contact me</h3>
            <ul>
                {% if site.social-twitter %}
                    <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                {% endif %}
                {% if site.social-facebook %}
                    <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                {% endif %}
                {% if site.social-email %}
                    <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
                {% endif %}
            </ul>
        </section>
        <div class="copyright">
            <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
        </div>
    </footer>
</aside>
<div class="content-box clearfix">
  {{ content }}
</div>

