---
layout: default
---
<div class="row">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-8 col-xs-12">        
        <article class="post">
            <header class="post-header pt-2 pb-2">
                <h1 class="post-title">{{ page.title }}</h1>
                <div class="post-meta mb-3">
                    {% if page.author %}
                        {% assign author = site.data.authors[page.author] %}    
                        {% if author %}
                        <div class="clearfix post-author">
                            <div class="float-left mr-2">
                                <a href="{{ author.web }}"><img style="width:50px;height:50px;" class="rounded-circle img-thumbnail" src="{{ author.avatar }}" alt="{{ author.name }}"></a>
                            </div>
                            <div class="float-left">
                                <div><a class="author-name" href="{{ author.web }}">{{ author.name }}</a></div>
                                <time datetime="{{ page.date }}">{{ page.date | date: "%-d %b %Y" }}</time><span class="reading-time"></span>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </header>
            {% if page.cover %}
                {% assign featured_image = page.cover %}
            {% else %}
                {% assign featured_image = page.thumbnail %}
            {% endif %}
            {% if featured_image %}
            <img src="{{ featured_image }}" alt="{{ page.title }}" class="mb-3 featured-image img-fluid" title="{{ page.title }}" />
            {% endif %}
            <div class="post-content">
                {{ content }}
            </div>
            {% if page.author %}
                {% assign author = site.data.authors[page.author] %}    
                {% if author %}
                <div class="bg-light p-3 mb-3">
                    <div class="row author">
                        <div class="col-md-2">
                            <a href="{{ author.web }}"><img class="rounded-circle img-thumbnail" src="{{ author.avatar }}" alt="{{ author.name }}"></a>
                        </div>
                        <div class="col-md-10">
                            <h5><a class="author-name" href="{{ author.web }}">{{ author.name }}</a></h5>
                            <span class="author-bio">{{ author.bio }}</span>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </article>
    </div>
    <div class="col-md-2 col-xs-12"></div>
</div>
